AirQuality (1).json
{"flowContents":{"identifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"AirQuality","comments":"","position":{"x":1936.0,"y":-312.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"52a069f7-89b1-3ff4-a110-2f702c591b58","name":"i++","comments":"","position":{"x":1064.0,"y":936.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"${i:plus(1)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"e6302020-c14e-371e-9a89-b833c358f78b","name":"Initialize Count","comments":"","position":{"x":1720.0,"y":776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"1","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","name":"Airquality","comments":"","position":{"x":1712.0,"y":1168.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"500 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"50MB","disable-http2":"False","idle-timeout":"15 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.openaq.org/v2/latest?limit=250&page=1&offset=${i}&sort=desc&radius=1000&order_by=lastUpdated&dumpRaw=false","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"1500 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-pulsar-tspann"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"cc57aadd-3b68-3331-8832-601bfdb35e5e","name":"Build New JSON Record","comments":"","position":{"x":1728.0,"y":2368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"apigw-requestid,city,country,date,filename,lastUpdated,latitude,location,longitude,parameter,server-timing,unit,uuid,value","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"f7d93078-0c48-30e5-be6e-6777b421c2c3","name":"Store AirQuality Bundles","comments":"","position":{"x":2976.0,"y":2608.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/airquality","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"ffcd5732-185f-3f90-a247-b05e1754474d","name":"Pulsar Local","comments":"","position":{"x":2384.0,"y":2616.0},"bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"53f1d1df-3205-364a-b67e-4f9642fb19a9","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"persistent://public/default/airqualityglobal","MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","MESSAGE_KEY":"${uuid}","BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"18cdc33c-bc6a-31ee-8290-28f283dfcfb0","name":"Cloud PublishPulsarRecord","comments":"","position":{"x":1728.0,"y":2768.0},"bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"e420c854-424d-3e41-9ec3-efaa4c5ed7ea","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"persistent://public/default/airqualityglobal","MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","MESSAGE_KEY":"${uuid}","BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","name":"Filter ","comments":"","position":{"x":1728.0,"y":2568.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"filter":"SELECT * FROM FLOWFILE\nWHERE lower(\"parameter\") = 'pm10'\nAND CAST(\"value\" AS DOUBLE) > 8","all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","record-reader":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"filter":{"name":"filter","displayName":"filter","identifiesControllerService":false,"sensitive":false},"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"74fb773e-e629-3d2a-b8bb-e24106622e8c","name":"while: true","comments":"","position":{"x":1712.0,"y":968.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","continue":"${i:lt(50000)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"continue":{"name":"continue","displayName":"continue","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"8dcc6e6f-4c85-3e5e-90a7-6fc28ac89c42","name":"Init","comments":"","position":{"x":1720.0,"y":576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"30000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"7bb9918a-c213-3e4c-9777-d525390599f5","name":"SplitJson","comments":"","position":{"x":1728.0,"y":1968.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.measurements.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"22fc0a81-055f-3922-b952-2c0eb471b0c0","name":"SplitJson","comments":"","position":{"x":1704.0,"y":1560.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.results.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"e97af22a-2a1c-3f87-a6e2-86df15edb86e","name":"RetryFlowFile","comments":"","position":{"x":1744.0,"y":2952.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"f13d8235-8bdf-3c90-b3fc-bd478b476731","name":"Set Schema Name","comments":"","position":{"x":1704.0,"y":1360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"schema":"airquality","schemaname":"airquality","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"airquality","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"schemaname":{"name":"schemaname","displayName":"schemaname","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"404a0ea1-837f-3932-9a06-56ef06d74808","name":"Build Flat Record Airquality","comments":"","position":{"x":1712.0,"y":1776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","country":"$.country","city":"$.city","Return Type":"json","latitude":"$.coordinates.latitude","Null Value Representation":"empty string","location":"$.location","Path Not Found Behavior":"ignore","longitude":"$.coordinates.longitude"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false},"city":{"name":"city","displayName":"city","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"latitude":{"name":"latitude","displayName":"latitude","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"location":{"name":"location","displayName":"location","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"longitude":{"name":"longitude","displayName":"longitude","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"3b98bda0-fe6b-35be-9f37-92e7e3cbb929","name":"Build Flat Record Airquality","comments":"","position":{"x":1744.0,"y":2168.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","lastUpdated":"$.lastUpdated","unit":"$.unit","Return Type":"json","parameter":"$.parameter","Null Value Representation":"empty string","value":"$.value","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"lastUpdated":{"name":"lastUpdated","displayName":"lastUpdated","identifiesControllerService":false,"sensitive":false},"unit":{"name":"unit","displayName":"unit","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"parameter":{"name":"parameter","displayName":"parameter","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"value":{"name":"value","displayName":"value","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"}],"inputPorts":[],"outputPorts":[{"identifier":"d4c07f86-2473-3761-bbc0-dcb707b19a3c","name":"Errors Out","comments":"","position":{"x":2456.0,"y":2936.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"DISABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"}],"connections":[{"identifier":"3baa0c73-d766-38dc-b11c-c618265ff6d4","name":"","source":{"id":"3b98bda0-fe6b-35be-9f37-92e7e3cbb929","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build Flat Record Airquality","comments":""},"destination":{"id":"cc57aadd-3b68-3331-8832-601bfdb35e5e","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build New JSON Record","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"7ae14677-0134-3b6a-be49-acda50882e4b","name":"","source":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Filter ","comments":""},"destination":{"id":"18cdc33c-bc6a-31ee-8290-28f283dfcfb0","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Cloud PublishPulsarRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["filter"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"da768547-027f-35b4-a3f2-e1741ba4ce98","name":"","source":{"id":"cc57aadd-3b68-3331-8832-601bfdb35e5e","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build New JSON Record","comments":""},"destination":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Filter ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"6676dee2-5172-3379-a6ca-07f28d458123","name":"","source":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Airquality","comments":""},"destination":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Airquality","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1516.009255384453,"y":1247.5920028686523},{"x":1512.6892480602341,"y":1366.8319900035858}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"e9aad058-fa8b-3bcc-8442-277f07bb0196","name":"","source":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Airquality","comments":""},"destination":{"id":"ce9af5c2-8e11-3c85-8652-9a6a5ca9fd39","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"6ede31ff-4161-3403-a23a-5ad02b6116ea","name":"","source":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"while: true","comments":""},"destination":{"id":"41a71a4b-bfc9-3dde-b075-044c88d0301f","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"4f841f17-0cbd-3d35-82d9-41947d7e5ea2","name":"","source":{"id":"3b98bda0-fe6b-35be-9f37-92e7e3cbb929","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build Flat Record Airquality","comments":""},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"2ae600bd-9133-30df-9061-c85b9184a67c","name":"","source":{"id":"f13d8235-8bdf-3c90-b3fc-bd478b476731","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Set Schema Name","comments":""},"destination":{"id":"22fc0a81-055f-3922-b952-2c0eb471b0c0","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"a37a5b30-9c12-3506-9a1a-a15fe7dadde2","name":"","source":{"id":"18cdc33c-bc6a-31ee-8290-28f283dfcfb0","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Cloud PublishPulsarRecord","comments":""},"destination":{"id":"e97af22a-2a1c-3f87-a6e2-86df15edb86e","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"f6fe6590-08d7-3918-aff2-c0e020a118b5","name":"","source":{"id":"e6302020-c14e-371e-9a89-b833c358f78b","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Initialize Count","comments":""},"destination":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"while: true","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"678e7ffe-61cd-30b4-b3c8-93da13691f41","name":"","source":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Airquality","comments":""},"destination":{"id":"f13d8235-8bdf-3c90-b3fc-bd478b476731","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Set Schema Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"7196d9ce-500d-3ff3-be44-388f46c3977b","name":"","source":{"id":"7bb9918a-c213-3e4c-9777-d525390599f5","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"SplitJson","comments":""},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"40ac4534-b04d-3295-a4c8-e9efb5869051","name":"","source":{"id":"ffcd5732-185f-3f90-a247-b05e1754474d","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Pulsar Local","comments":""},"destination":{"id":"d4c07f86-2473-3761-bbc0-dcb707b19a3c","type":"OUTPUT_PORT","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Errors Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"c7ac87dc-2d2c-3708-8af2-4cff3a7f0385","name":"","source":{"id":"ffcd5732-185f-3f90-a247-b05e1754474d","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Pulsar Local","comments":""},"destination":{"id":"f7d93078-0c48-30e5-be6e-6777b421c2c3","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Store AirQuality Bundles","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"f1e643b9-49c5-30cd-b28e-84a70331467f","name":"","source":{"id":"404a0ea1-837f-3932-9a06-56ef06d74808","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build Flat Record Airquality","comments":""},"destination":{"id":"7bb9918a-c213-3e4c-9777-d525390599f5","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"aab1dae2-d802-3dd2-ac71-ce93642a5277","name":"","source":{"id":"404a0ea1-837f-3932-9a06-56ef06d74808","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build Flat Record Airquality","comments":""},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"64a80414-7e8c-33f3-8456-17e1ed0828f9","name":"","source":{"id":"8dcc6e6f-4c85-3e5e-90a7-6fc28ac89c42","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Init","comments":""},"destination":{"id":"e6302020-c14e-371e-9a89-b833c358f78b","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Initialize Count","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"01eab1a4-8496-3cae-9a41-5b48ceb1506d","name":"","source":{"id":"22fc0a81-055f-3922-b952-2c0eb471b0c0","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"SplitJson","comments":""},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"05aac5e7-f017-3fc8-9335-a8c3f2821713","name":"","source":{"id":"e97af22a-2a1c-3f87-a6e2-86df15edb86e","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"RetryFlowFile","comments":""},"destination":{"id":"18cdc33c-bc6a-31ee-8290-28f283dfcfb0","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Cloud PublishPulsarRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1504.0,"y":2824.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"dd1c90ee-2002-329f-8101-86ccdd0da666","name":"","source":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Filter ","comments":""},"destination":{"id":"ffcd5732-185f-3f90-a247-b05e1754474d","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Pulsar Local","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"06c4c50c-4402-30cd-aec1-b23d9a6040b4","name":"","source":{"id":"52a069f7-89b1-3ff4-a110-2f702c591b58","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"i++","comments":""},"destination":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"while: true","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"20d2b1cf-9330-38e6-b249-3c97a954f592","name":"","source":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"while: true","comments":""},"destination":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Airquality","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["continue"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"4adc4591-0fb4-3779-a631-1f0d9f9bf97a","name":"","source":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"while: true","comments":""},"destination":{"id":"52a069f7-89b1-3ff4-a110-2f702c591b58","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"i++","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["continue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1519.0000390758591,"y":1098.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"3a5eb4a9-3a26-367d-b613-0cf43a388b68","name":"","source":{"id":"cc57aadd-3b68-3331-8832-601bfdb35e5e","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build New JSON Record","comments":""},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"6c3b0c65-be7b-3f2b-b55f-e95795aafe50","name":"","source":{"id":"7bb9918a-c213-3e4c-9777-d525390599f5","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"SplitJson","comments":""},"destination":{"id":"3b98bda0-fe6b-35be-9f37-92e7e3cbb929","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build Flat Record Airquality","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"c8a27e6a-e608-3d09-8166-eccfc6f67599","name":"","source":{"id":"e97af22a-2a1c-3f87-a6e2-86df15edb86e","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"RetryFlowFile","comments":""},"destination":{"id":"d4c07f86-2473-3761-bbc0-dcb707b19a3c","type":"OUTPUT_PORT","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Errors Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"26389908-6001-3215-a632-dd046d4119bd","name":"","source":{"id":"22fc0a81-055f-3922-b952-2c0eb471b0c0","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"SplitJson","comments":""},"destination":{"id":"404a0ea1-837f-3932-9a06-56ef06d74808","type":"PROCESSOR","groupId":"4d90973b-f175-3bed-a4c0-44e55c05bf4b","name":"Build Flat Record Airquality","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"}],"labels":[{"identifier":"abd5baf4-7a45-355c-b4d1-19f69a1a3a8c","position":{"x":2104.0,"y":2768.0},"label":"Apache Pulsar \nStreamNative\nCloud","width":184.0,"height":128.0,"style":{"background-color":"#0084ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"26821d03-a84e-3deb-9f35-2c418f591309","position":{"x":2384.0,"y":2432.0},"label":"Apache Pulsar 2.9.1 Cluster\nOn-Premise","width":360.0,"height":160.0,"style":{"background-color":"#d6efff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"0e4d9d9f-9d61-3ecb-be0e-4d28bca4a1ce","position":{"x":2136.0,"y":768.0},"label":"\"meta\" : {\n    \"name\" : \"openaq-api\",\n    \"license\" : \"CC BY 4.0d\",\n    \"website\" : \"https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/\",\n    \"page\" : 1,\n    \"limit\" : 100,\n    \"found\" : 39184\n  },","width":424.0,"height":128.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"}],"funnels":[{"identifier":"412e7350-d04e-3c3b-be68-315fd27bd080","position":{"x":1112.0,"y":2088.0},"componentType":"FUNNEL","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"ce9af5c2-8e11-3c85-8652-9a6a5ca9fd39","position":{"x":2432.0,"y":1312.0},"componentType":"FUNNEL","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"41a71a4b-bfc9-3dde-b075-044c88d0301f","position":{"x":2303.000039075859,"y":954.0},"componentType":"FUNNEL","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"}],"controllerServices":[{"identifier":"f72860ee-3414-39b8-a036-b64223c74828","name":"SchemaJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"75a3ebf3-41c6-3338-b17a-b125c353803c","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"},{"identifier":"75a3ebf3-41c6-3338-b17a-b125c353803c","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"avro-reg-validated-field-names":"true","airquality":"{\n  \"name\": \"airquality\",\n  \"type\": \"record\",\n  \"namespace\": \"io.streamnative.schema\",\n  \"fields\": [\n{\n      \"name\": \"location\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": \"string\"\n      }\n    },\n    {\n      \"name\": \"city\",\n      \"type\": [\n        \"string\",\n        \"null\"\n      ]\n    },\n    {\n      \"name\": \"country\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": \"string\"\n      }\n    },\n    {\"name\": \"latitude\",\n              \"type\": \"float\"\n    },\n    {\n              \"name\": \"longitude\",\n              \"type\": \"float\"\n            },\n    {\n      \"name\": \"parameter\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"value\",\n      \"type\": \"float\"\n    },\n    {\n      \"name\": \"lastUpdated\",\n      \"type\": \"int\",\n      \"logicalType\": \"date\"\n    },\n    {\n      \"name\": \"unit\",\n      \"type\": \"string\"\n    }\n  ]\n}","step1":"{\n  \"name\": \"step1\",\n  \"type\": \"record\",\n  \"namespace\": \"io.streamnative.schema\",\n  \"fields\": [\n    {\n      \"name\": \"location\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": \"string\"\n      }\n    },\n    {\n      \"name\": \"city\",\n      \"type\": [\n        \"string\",\n        \"null\"\n      ]\n    },\n    {\n      \"name\": \"country\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": \"string\"\n      }\n    },\n    {\n      \"name\": \"coordinates\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"name\": \"coordinates_record\",\n          \"type\": \"record\",\n          \"fields\": [\n            {\n              \"name\": \"latitude\",\n              \"type\": \"float\"\n            },\n            {\n              \"name\": \"longitude\",\n              \"type\": \"float\"\n            }\n          ]\n        }\n      }\n    },\n    {\n      \"name\": \"measurements\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"array\",\n          \"items\": [\n            [\n              [\n                [\n                  [\n                    {\n                      \"name\": \"_record\",\n                      \"type\": \"record\",\n                      \"fields\": [\n                        {\n                          \"name\": \"parameter\",\n                          \"type\": \"string\"\n                        },\n                        {\n                          \"name\": \"value\",\n                          \"type\": \"int\"\n                        },\n                        {\n                          \"name\": \"lastUpdated\",\n                          \"type\": \"int\",\n                          \"logicalType\": \"date\"\n                        },\n                        {\n                          \"name\": \"unit\",\n                          \"type\": \"string\"\n                        }\n                      ]\n                    },\n                    {\n                      \"name\": \"_record\",\n                      \"type\": \"record\",\n                      \"fields\": [\n                        {\n                          \"name\": \"parameter\",\n                          \"type\": \"string\"\n                        },\n                        {\n                          \"name\": \"value\",\n                          \"type\": \"float\"\n                        },\n                        {\n                          \"name\": \"lastUpdated\",\n                          \"type\": \"int\",\n                          \"logicalType\": \"date\"\n                        },\n                        {\n                          \"name\": \"unit\",\n                          \"type\": \"string\"\n                        }\n                      ]\n                    }\n                  ],\n                  {\n                    \"name\": \"_record\",\n                    \"type\": \"record\",\n                    \"fields\": [\n                      {\n                        \"name\": \"parameter\",\n                        \"type\": \"string\"\n                      },\n                      {\n                        \"name\": \"value\",\n                        \"type\": \"float\"\n                      },\n                      {\n                        \"name\": \"lastUpdated\",\n                        \"type\": \"int\",\n                        \"logicalType\": \"date\"\n                      },\n                      {\n                        \"name\": \"unit\",\n                        \"type\": \"string\"\n                      }\n                    ]\n                  }\n                ],\n                {\n                  \"name\": \"_record\",\n                  \"type\": \"record\",\n                  \"fields\": [\n                    {\n                      \"name\": \"parameter\",\n                      \"type\": \"string\"\n                    },\n                    {\n                      \"name\": \"value\",\n                      \"type\": \"float\"\n                    },\n                    {\n                      \"name\": \"lastUpdated\",\n                      \"type\": \"int\",\n                      \"logicalType\": \"date\"\n                    },\n                    {\n                      \"name\": \"unit\",\n                      \"type\": \"string\"\n                    }\n                  ]\n                }\n              ],\n              {\n                \"name\": \"_record\",\n                \"type\": \"record\",\n                \"fields\": [\n                  {\n                    \"name\": \"parameter\",\n                    \"type\": \"string\"\n                  },\n                  {\n                    \"name\": \"value\",\n                    \"type\": \"float\"\n                  },\n                  {\n                    \"name\": \"lastUpdated\",\n                    \"type\": \"int\",\n                    \"logicalType\": \"date\"\n                  },\n                  {\n                    \"name\": \"unit\",\n                    \"type\": \"string\"\n                  }\n                ]\n              }\n            ],\n            {\n              \"name\": \"_record\",\n              \"type\": \"record\",\n              \"fields\": [\n                {\n                  \"name\": \"parameter\",\n                  \"type\": \"string\"\n                },\n                {\n                  \"name\": \"value\",\n                  \"type\": \"float\"\n                },\n                {\n                  \"name\": \"lastUpdated\",\n                  \"type\": \"int\",\n                  \"logicalType\": \"date\"\n                },\n                {\n                  \"name\": \"unit\",\n                  \"type\": \"string\"\n                }\n              ]\n            }\n          ]\n        }\n      }\n    }\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"airquality":{"name":"airquality","displayName":"airquality","identifiesControllerService":false,"sensitive":false},"step1":{"name":"step1","displayName":"step1","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4d90973b-f175-3bed-a4c0-44e55c05bf4b"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"53f1d1df-3205-364a-b67e-4f9642fb19a9":{"identifier":"53f1d1df-3205-364a-b67e-4f9642fb19a9","name":"Pulsar1_15_Pulsar1"},"e420c854-424d-3e41-9ec3-efaa4c5ed7ea":{"identifier":"e420c854-424d-3e41-9ec3-efaa4c5ed7ea","name":"StreamNative Cloud Pulsar Demo "},"2b1e4a8e-a12e-35ee-b446-8efb00f302bb":{"identifier":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","name":"Infer JsonTreeReader"},"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f":{"identifier":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","name":"Standard Inherit JsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}